.game-flex-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: black;
}

.card {
    background-color: #1e1e1e;
    margin: 50px;
    height: auto;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}
 
.game-info {
    margin: 20px;
    color: rgba(255,255,255,.87);
    overflow-wrap: break-word;
}
 
.game-img {
    margin-top: 10px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.review-button {
    width: 70px;
    border-radius: 20px;
}

.game-card-highscore-wrapper {
    color: rgba(255,255,255,.87);
}