.nav-bar {
    background-color: grey;
    display: flex;
    height: 40px;
    position: relative;
    align-items: center;
}

button.nav-button {
    background-color: rgba(255,255,255,.87);
    height: 35px;
    width: auto;
    border-radius: 30px;
    margin-left: 50px;
}

button.logout-button {
    cursor: pointer;
    height: 35px;
    width: auto;
    border-radius: 30px;
    margin-left: 50px;
    color: grey;
    text-decoration: underline;
}

.profile-pic {
    width: 28px;
    height: 28px;
    margin: auto;
    border-radius: 50%;
    margin-left: 5px;
}

#profile-wrapper-button {
    display: flex;
    align-items: center;
}