#profile-wrapper {
    color: white;
    display: flex;
    flex-flow: row wrap;
}

.all-user-reviews-wrapper {
    border: 4px solid grey;
    border-radius: 20px;
    float: left;
    height: auto;
    max-width: 60%;
    word-wrap: break-word;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
}

.profile-game-reviews-ul {
    list-style: none;
    padding: 0;
    width: 300px;
}

.profile-game-reviews-wrapper {
    padding: 0 10px 0 10px;
}

.profile-game-scores-ul {
    list-style: none;
    padding: 0;
    width: 300px;
}

.all-user-highscores-wrapper {
    border: 4px solid grey;
    border-radius: 20px;
    float: right;
    height: auto;
    max-width: 38%;
    word-wrap: break-word;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
}

.profile-game-scores-wrapper {
    padding: 0 10px 0 10px;
}

.profile-game-scores-li {
    list-style-type: none;
}

.score-lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.reviews-lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.edit-profile-avi {
    padding-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}