.login-signup-form-wrapper {
    border-radius: 30px;
    height: auto;
    width: 300px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -150px;
    margin-top: 50px;
    background-color: grey;
    text-align: center;
}

.login-signup-form {
    font-size: 20px;
    display: inline-block;
    flex-direction: column;
}

.input-field {
    width: 250px;
    border-radius: 30px;
}

#name-label {
    margin-top: 10px;
}

#submit-button {
    border-radius: 30px;
}

.review-signup-form-wrapper {
    border-radius: 30px;
    height: auto;
    width: 500px;
    top: 10%;
    background-color: grey;
    text-align: center;
}

.review-wrapper {
    width: auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    color: white;
}

.review-li {
    font-size: 20px;
    padding-bottom: 10px;
    max-width: 500px;
    word-wrap: break-word;
}